.App {
  margin: 0 auto;
}

.board {
  margin: 48px auto;
  width: 1152px; /* 42  (board size/cell in 1 row) * 24 (width of a cell) */
}

.row {
  display: flex;
}

.Cell {
  width: 24px;
  height: 24px;
  border: 1px solid var(--border);
}

.Cell--alive {
  background-color: var(--foreground);
}